[Unit]
Description=Sample
# Requires=network.service
# After=network.target

[Service]
Type=simple
# EnvironmentFile=/etc/default/sample
# Environment=VAR_NAME=VAR_VALUE
WorkingDirectory={{ spamassassin_home }}
User={{ spamassassin_user }}
Group={{ spamassassin_group }}
ExecStart={{ spamassassin_home }}/bin/execute

[Install]
WantedBy=multi-user.target
